---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>

{% if site.data.display.arkpets %}
<script src="{{ '/assets/js/arkpets.js' | relative_url }}"></script>
<script>
    const RESOURCE_PATH = "{{ '/assets/models/' | relative_url }}";

    const CHARACTER_RESOURCES = [
        {
            id: "pepe",
            name: "佩佩",
            skeleton: "4058_pepe/build_char_4058_pepe.skel",
            atlas: "4058_pepe/build_char_4058_pepe.atlas",
            texture: "4058_pepe/build_char_4058_pepe.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "whitw2",
            name: "荒芜拉普兰德",
            skeleton: "1038_whitw2/build_char_1038_whitw2.skel",
            atlas: "1038_whitw2/build_char_1038_whitw2.atlas",
            texture: "1038_whitw2/build_char_1038_whitw2.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "frston-3",
            name: "Friston-3",
            skeleton: "4093_frston/build_char_4093_frston.skel",
            atlas: "4093_frston/build_char_4093_frston.atlas",
            texture: "4093_frston/build_char_4093_frston.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "texas2",
            name: "缄默德克萨斯",
            skeleton: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.skel",
            atlas: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.atlas",
            texture: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.png",
            resourcePath: "https://raw.githubusercontent.com/isHarryh/Ark-Models/refs/heads/main/models/",
        }
    ];

    window.addEventListener('load', () => {
        const character = new arkpets.Character(
            "arkpets-demo",
            (e) => arkpets.showContextMenu(e, character, {
                getCharacterModels: () => CHARACTER_RESOURCES,
            }),
            CHARACTER_RESOURCES[0],
        );
        console.log("Character initialized", character);
    });
</script>
{% endif %}
