---
layout: default
title : Showcase
navbar_title: Showcase
container_class: container-xl
---

{% assign cards_by_group = site.showcase | sort: "date" | reverse | where: "show", true | group_by_exp: "item", "item.group" %}

{% for group in cards_by_group %}
<h1>{{ group.name }}</h1>
<div class="row grid mb-4">
    <div class="grid-sizer col-1"></div>
    {% for item in group.items %}
    {% if item.width >= 6 -%}
        {%- assign width_sm = 12 -%}
        {%- assign width_xs = 12 -%}
    {%- elsif item.width >= 2 -%}
        {%- assign width_sm = 6 -%}
        {%- assign width_xs = 6 -%}
    {%- else -%}
        {%- assign width_sm = item.width | times: 2 | at_most: 12 -%}
        {%- assign width_xs = item.width | times: 2 | at_most: 12 -%}
    {%- endif -%}
    <div class="p-2 grid-item col-md-{{ item.width | at_most: 12 }} col-sm-{{ width_sm }} col-{{ width_xs }}">
        <div class="{% if item.class != null %}{{ item.class }}{% else %}card border-0 shadow-sm bg-white{% endif %}">
            {{ item.content }}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% if site.data.display.arkpets %}
<script src="{{ '/assets/js/arkpets.js' | relative_url }}"></script>
<script>
    const RESOURCE_PATH = "{{ '/assets/models/' | relative_url }}";

    const CHARACTER_RESOURCES = [
        {
            id: "pepe",
            name: "佩佩",
            skeleton: "4058_pepe/build_char_4058_pepe.skel",
            atlas: "4058_pepe/build_char_4058_pepe.atlas",
            texture: "4058_pepe/build_char_4058_pepe.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "whitw2",
            name: "荒芜拉普兰德",
            skeleton: "1038_whitw2/build_char_1038_whitw2.skel",
            atlas: "1038_whitw2/build_char_1038_whitw2.atlas",
            texture: "1038_whitw2/build_char_1038_whitw2.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "frston-3",
            name: "Friston-3",
            skeleton: "4093_frston/build_char_4093_frston.skel",
            atlas: "4093_frston/build_char_4093_frston.atlas",
            texture: "4093_frston/build_char_4093_frston.png",
            resourcePath: RESOURCE_PATH,
        },
        {
            id: "texas2",
            name: "缄默德克萨斯",
            skeleton: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.skel",
            atlas: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.atlas",
            texture: "1028_texas2_iteration#1/build_char_1028_texas2_iteration#1.png",
            resourcePath: "https://raw.githubusercontent.com/isHarryh/Ark-Models/refs/heads/main/models/",
        }
    ];

    window.addEventListener('load', () => {
        const character = new arkpets.Character(
            "arkpets-demo",
            (e) => arkpets.showContextMenu(e, character, {
                getCharacterModels: () => CHARACTER_RESOURCES,
            }),
            CHARACTER_RESOURCES[0],
        );
        console.log("Character initialized", character);
    });
</script>
{% endif %}